* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.theme-1 {
  background-color: hsl(222, 26%, 31%);
}
.theme-1 .title,
.theme-1 .theme-name {
  color: #f8f9fa;
}
.theme-1 .theme-box,
.theme-1 .math-btns {
  background-color: hsl(223, 31%, 20%);
}
.theme-1 .result {
  background-color: hsl(224, 36%, 15%);
  color: #f8f9fa;
}
.theme-1 .btn {
  color: hsl(222, 26%, 31%);
  background-color: hsl(30, 25%, 89%);
  box-shadow: 0 0.2rem 0 hsl(28, 16%, 65%);
}
.theme-1 .reset-btn,
.theme-1 .del-btn {
  background-color: hsl(225, 21%, 49%);
  color: #f8f9fa;
  box-shadow: 0 0.2rem 0 hsl(222, 26%, 31%);
}
.theme-1 .equal-btn {
  background-color: hsl(6, 63%, 50%);
  color: #f8f9fa;
  box-shadow: 0 0.2rem 0 hsl(6, 70%, 34%);
}

.theme-2 {
  background-color: hsl(0, 0%, 90%);
}
.theme-2 .theme-box,
.theme-2 .math-btns {
  background-color: hsl(0, 5%, 81%);
}
.theme-2 .result {
  background-color: hsl(0, 0%, 93%);
  color: hsl(224, 36%, 15%);
}
.theme-2 .btn {
  color: hsl(224, 36%, 15%);
  background-color: hsl(45, 7%, 89%);
  box-shadow: 0 0.2rem 0 hsl(35, 11%, 61%);
}
.theme-2 .reset-btn,
.theme-2 .del-btn {
  color: #f8f9fa;
  background-color: hsl(185, 42%, 37%);
  box-shadow: 0 0.2rem 0 hsl(185, 58%, 25%);
}
.theme-2 .equal-btn {
  color: #f8f9fa;
  background-color: hsl(25, 98%, 40%);
  box-shadow: 0 0.2rem 0 hsl(25, 99%, 27%);
}

.theme-3 {
  background-color: hsl(268, 75%, 9%);
}
.theme-3 .title,
.theme-3 .theme-name,
.theme-3 .result,
.theme-3 .btn {
  color: hsl(52, 100%, 62%);
}
.theme-3 .theme-box,
.theme-3 .math-btns,
.theme-3 .result {
  background-color: hsl(268, 71%, 12%);
}
.theme-3 .btn {
  background-color: hsl(268, 47%, 21%);
  box-shadow: 0 0.2rem 0 hsl(281, 89%, 26%);
}
.theme-3 .reset-btn,
.theme-3 .del-btn {
  background-color: hsl(290, 70%, 36%);
  box-shadow: 0 0.2rem 0 hsl(285, 91%, 52%);
  color: #f8f9fa;
}
.theme-3 .equal-btn {
  background-color: hsl(177, 92%, 70%);
  box-shadow: 0 0.2rem 0 hsl(176, 100%, 44%);
  color: hsl(224, 36%, 15%);
}

.container {
  display: flex;
  flex-direction: column;
  width: min(450px, 90vw);
  gap: 1rem;
}
.container .about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .about .theme-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.container .about .theme-section .theme-name {
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.container .about .theme-section .theme-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70px;
  padding: 0.25rem 0.5rem;
  border-radius: 30px;
}
.container .about .theme-section .theme-box .theme {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: grid;
  place-content: center;
  font-size: 1.1rem;
  color: hsl(6, 63%, 50%);
}
.container .about .theme-section .theme-box .theme:hover {
  filter: brightness(120%);
}
.container .about .theme-section .theme-box .theme.hidden-theme {
  opacity: 0;
}
.container .about .theme-section .theme-box .theme.third-theme {
  color: hsl(177, 92%, 70%);
}
.container .result {
  text-align: right;
  padding: 2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 2.5rem;
}
.container .math-btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1.5rem;
  gap: 1.5rem;
  border-radius: 0.5rem;
}
.container .math-btns .btn {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.container .math-btns .btn:hover {
  filter: brightness(120%);
}
.container .math-btns .reset-btn {
  grid-column: span 2;
  font-size: 1.5rem;
}
.container .math-btns .del-btn {
  font-size: 1.5rem;
}
.container .math-btns .equal-btn {
  grid-column: span 2;
}

@media screen and (max-width: 500px) {
  .math-btns {
    padding: 1rem !important;
    gap: 1rem !important;
  }
}/*# sourceMappingURL=style.css.map */